*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html,body{
    margin-top: 100px;
    display: grid;
    height: 50%;
    width: 100%;
    place-items: center;
    background: #005C97;
    background: -webkit-linear-gradient(to right, #363795, #005C97);
    background: linear-gradient(to right, #363795, #005C97);
    
}

.wrapper .button{
    display: inline-block;
    height: 60px;
    width: 60px;
    float: left;
    margin: 0 5px;
    background: white;
    overflow: hidden;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0p 10px 10px rgba(0,0,0,0.1);
    transition: all 0.3s ease-out;
}

.wrapper .button:hover{
    width: 200px;
}

.wrapper .button .icon{
    display: inline-block;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
    transition: all 0.3s ease-out;
}

.wrapper .button:nth-child(1):hover .icon{
    background: #b800e6;
}

.wrapper .button:nth-child(2):hover .icon{
    background: #e1306c;
}

.wrapper .button:nth-child(3):hover .icon{
    background: #333;
}

.wrapper .button:nth-child(4):hover .icon{
    background: #1da1f2;
}

.wrapper .button:nth-child(5):hover .icon{
    background: #47d147;

}

.wrapper .button:nth-child(6):hover .icon{
    background: #00C9FF;
    background: -webkit-linear-gradient(to right, #92FE9D, #00C9FF);
    background: linear-gradient(to right, #92FE9D, #00C9FF);
}

.wrapper .button .icon i{
    font-size: 25px;
    line-height: 60px;
}

.wrapper .button:hover .icon i{
    color: #fff;
}

.wrapper .button a{
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    margin-left: 10px;
}

.font{
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    margin-left: 10px;
}

h1{
    cursor: pointer;
    position: relative;
    font-weight: 700;
    color: black;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.5s;
    background: linear-gradient(to right, #fff 50%, #80d4ff 50%, #ff80bf);
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.5s ease-out;
}

h1:hover{
    background-position: -100%;
}
